@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<h2>Home View</h2>

<form method="post">
    <input type="text" asp-for="UserInput" />
    <button type="submit">Submit</button>
</form>
